
<div class="topnav" id="myTopnav">

    <a href="/" class="<% if (title=="home") { %>active<% } %>"><img src="/img/lion.png" width="40" height="60" alt=""></a>
    <a href="/" class="<% if (title=="home") { %>active<% } %>">Home</a>
    <a href="/aboutme"class="<% if (title=="aboutme") { %>active<% } %>">About Me</a>
    <a href="/services" class="<% if (title=="services") { %>active<% } %>">Services</a>
    <a href="/projects" class="<% if (title=="projects") { %>active<% } %>">Projects</a>
    <a href="/contact" class="<% if (title=="contact") { %>active<% } %>">Contact</a>
    
    
    <a href="javascript:void(0);" class="icon" onclick="myFunction()">
      <i class="fa fa-bars"></i>
     </a>
     

  </div>

  
  