<%- include ('partials/header.ejs') %>
<%- include ('partials/navigation.ejs') %>

<div id="ContainerAboutMe">

<div id="annPic"><img src="/img/anna.png" width="500" height="400" alt=""></div>

<p>Hey, This is Anna</p>
<p>I'm 29 years old and I love freshed brewed Turkish coffee ☕ and Dance 💃  </p>
<p>No experience in IT industry, decided to change my path of profession </p>
<P>I don't have yet professional IT related resume but will working on it</P>
<p>But here is a link for my Linkden </p>
<div id="linkdenPage"><a href="https://www.linkedin.com/in/anna-lomadze-145520237/">My Linkden Account</a></div>
</div>

<%- include ('partials/footer.ejs') %>