
<%- include ('partials/header.ejs') %>
<%- include ('partials/navigation.ejs') %>

<p>Currently don't have any projects which is IT related</p>
<p>planing to build porfolio personal website project using svg and learn more about react</p>

<div class="projectsContainer">
<div><p id="pageProjectsP">Here is my few favorite pics I had projects with back in Ukraine</p></div>

    <div class="gallery">
     
        <figure class="gallery__item gallery__item--1">
            <img src="img/1.jpg" alt="Gallery image 1"  class="gallery__img">
          </figure>
        <figure class="gallery__item gallery__item--2">
          <img src="img/2.jpg" alt="Gallery image 2"  class="gallery__img">
        </figure>
        <figure class="gallery__item gallery__item--3">
          <img src="img/3.jpg" alt="Gallery image 3" class="gallery__img" >
        </figure>
        <figure class="gallery__item gallery__item--4">
          <img src="img/4.jpg"  alt="Gallery image 4" class="gallery__img">
        </figure>
        <figure class="gallery__item gallery__item--5">
          <img src="img/5.jpg"  alt="Gallery image 5" class="gallery__img">
        </figure>
        <figure class="gallery__item gallery__item--6">
          <img src="img/6.jpg"  alt="Gallery image 6" class="gallery__img">
        </figure>
      </div>

    </div>


<%- include ('partials/footer.ejs') %>