<%- include ('partials/header.ejs') %>
<%- include ('partials/navigation.ejs') %>


<div id="ContainerServices">
<div id="servicesImgs">
   <p id="servicesP">Services I know</p>
   <img src="/img/csharp.png" width="60px" height="50">
   <img src="/img/java.png" width="80px" height="50">
   <img src="/img/js.png" width="90px" height="50">
   <img src="/img/sql.png" width="90px" height="50">
   <img src="/img/css.png" width="80px" height="50">
   <img src="/img/html.png" width="80px" height="50">
</div>

<ul>
   <li>C# .NET platform, developing Microsoft applications, web apps, destop apps, mobile apps</li>
   <li>HTML , CSS, JS , </li>
   <li>JAVA, JS, C#</li>
   <li>DATABASES SQL ORACLE</li>
</ul>
</div>

<%- include ('partials/footer.ejs') %>